#Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*
logs
.codenvy

# Build Artifacts

build/
target/
bin/
dependency-reduced-pom.xml

data


# Eclipse Project Files

.classpath
.project
.settings/

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea
